#main-bg {
  background: url(../images/head-bg.jpg) no-repeat center center;
  background-size: cover;
  position: relative;
}
#owerlay {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  z-index: 101;
  display: none;
}
.target {
  display: block;
  position: absolute;
  width: 21px;
  height: 30px;
  bottom: 100px;
  left: 50%;
  background: url(../images/sprite.png) no-repeat 0 -597px;
}
.logo {
  float: left;
  margin-top: 30px;
  max-width: 270px;
  img {
    max-width: 100%;
  }
  @include breakpoint((to: 992px)) {
    max-width: 200px;
  }
  @include breakpoint((to: 768px)) {
    max-width: 150px;
  }
}
.menu {
  overflow: hidden;
  margin-top: 35px;
  text-align: right;
  ul {
    li {
      @include inline-block(top);
      text-align: left;
      margin-right: 50px;
      font-size: 18px;
      font-weight: bold;
      text-transform: uppercase;
      padding-bottom: 2px;
      &:last-child {
        margin-right: 0;
      }
      a {
        text-decoration: none;
        color: #fff;
        border-bottom: 2px solid transparent;
        &:hover {
          border-color: #fff;
        }
      }
    }
  }
  @include breakpoint((to: 992px)) {
    ul {
      li {
        margin-right: 30px;
        font-size: 15px;
      }
    }
  }
  @include breakpoint((to: 768px)) {
    border-left: 50px solid transparent;
    z-index: 1000;
    position: fixed;
    float: none;
    width: 240px;
    height: 100%;
    right: -240px;
    margin-top: 0;
    box-sizing: content-box;
    transition: 0.4s;
    .menu-wrap {
      background: #fff;
      height: inherit;
    }
    ul {
      padding-left: 70px;
      li {
        display: block;
        padding-bottom: 25px;
        color: #000;
        margin-right: 0;
        font-size: 19px;
        a {
          color: inherit;
          font-size: inherit;
          font-weight: normal;
          text-transform: none;
        }
      }
    }
  }
}
.logo-menu {
  text-align: center;
  padding: 20px 30px;
  border-bottom: 1px solid #bbbbbb;
  margin-bottom: 20px;
  display: none;
  img {
    max-width: 100%;
  }
  @include breakpoint((to: 768px)) {
    display: block;
  }
}
.trigger {
  display: none;
  float: right;
  width: 19px;
  height: 19px;
  background: url(../images/sprite.png) no-repeat 0 -420px;
  margin-top: 32px;
  position: relative;
  cursor: pointer;
  z-index: 1001;
  @include breakpoint((to: 768px)) {
    display: block;
  }
}
.cont {
  position: relative;
  right: 0;
  position: relative;
  height: 100%;
  width: 100%;
  transition: 0.4s;
}
body {
  overflow-x: hidden;
}
.cont.open-sidebar {
  right: 240px;
}
.swipe-area {
  position: absolute;
  width: 50px;
  right: 0;
  top: 0;
  height: 100%;
  background: #f3f3f3;
  z-index: 0;
}
.block-title {
  position: absolute;
  text-align: center;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  top: 50%;
  h1 {
    font-family:"Uni Sans Heavy";
    font-size: 42px;
    margin-bottom: 15px;
    font-weight: bold;
    text-transform: uppercase;
  }
  h2 {
    font-family:"Uni Sans";
    margin-bottom: 9px;
    font-size: 27px;
    text-transform: uppercase;
  }
  span {
    background: #fff;
    padding: 10px;
    @include inline-block;
    i {
      font-style: normal;
      text-decoration: underline;
    }
  }
  @include breakpoint((to: 992px)) {
    h1 {
      font-size: 33px;
    }
    h2 {
      font-size: 21px;
    }
  }
  @include breakpoint((to: 768px)) {
    h1 {
      font-size: 30px;
    }
    h2 {
      font-size: 18px;
    }
  }
  @include breakpoint((to: 370px)) {
    h1 {
      font-size: 21px;
    }
    h2 {
      font-size: 15px;
    }
  }
}

* {
  box-sizing: border-box;
}
.test {
  height: 100px;
  background: #ddd;
  width: 100%;
}
.bottommargin {
  margin-bottom: 30px;
}
.title {
  text-align: center;
  text-transform: uppercase;
  font-size: 27px;
  line-height: 36px;
  margin-top: 75px;
  margin-bottom: 75px;
  font-family:"Uni Sans";
  @include breakpoint((to: 768px)) {
    font-size: 21px;
  }
  @include breakpoint((to: 320px)) {
    font-size: 18px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
}
.icon {
  height: 65px;
  width: 65px;
  display: block;
  margin: auto;
  opacity: 0;
  background: url(../images/sprite.png) no-repeat;
}
.icon-1 {
  background-position: 0 1px;
}
.icon-2 {
  background-position: 0 -65px;
}
.icon-3 {
  background-position: 0 -130px;
}
.icon-4 {
  background-position: 0 -200px;
}
.icon-5 {
  background-position: 0 -273px;
}
.item {
  text-align: center;
  padding: 40px;
  background: #fff;
  transition: .5s;
  margin-bottom: 30px;
  &:hover {
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.21);
  }
  h4 {
    margin-top: 30px;
    font-size: 25px;
    font-weight: bold;
  }
  p {
    margin-top: 35px;
    font-size: 19px;
    color: #383838;
  }
  a {
    @include inline-block;
    margin-top: 40px;
    text-decoration: none;
    border: 1px solid #bbbbbb;
    padding: 10px 20px;
    border-radius: 20px;
    color: #000;
    font-weight: bold;
    transition: .5s;
    &:hover {
      background: #007ebf;
      color: #fff;
    }
  }
  @include breakpoint((to: 768px)) {
    padding: 40px 20px;
  }
}

footer {
  margin-top: 50px;
}
.contact {
  background: #fff;
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 75px;
    padding-bottom: 75px;
    font-family:"Uni Sans";
  }
  @include breakpoint((to: 320px)) {
    h3 {
      display: none;
    }
  }
}
.contact-data {
  text-align: center;
  padding-bottom: 75px;
  li {
    text-decoration: none;
    color: #000;
    @include inline-block;
    margin-right: 70px;
    position: relative;
    margin-bottom: 20px;
    font-family: "Calibri";
    span {
      display: inline-block;
      font-family: inherit;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  @include breakpoint((to: 992px)) {
    li {
      margin-right: 60px;
      &:nth-last-child(2n) {
        margin-right: 11px;
      }
    }
  }
  @include breakpoint((to: 768px)) {
    li {
      margin-right: 60px;
      display: block;
      margin-right: 0;
    }
  }
  @include breakpoint((to: 320px)) {
    padding-bottom: 40px;
    padding-top: 40px;
  }
}
.ico {
  position: relative;
  &:before {
    content: '';
    position: absolute;
    display: block;
    width: 24px;
    height: 20px;
    left: -35px;
    top: -2px;
    background: url(../images/sprite.png) no-repeat;
  }
  @include breakpoint((to: 768px)) {
    &:before {
      display: none;
    }
  }
}
.icon-6 {
  font-weight: bold;
  &:before {
    background-position: 3px -345px;
  }
}
.icon-7 {
  color: #004d99;
  &:before {
    background-position: 0px -370px;
  }
}
.icon-8 {
  color: #383838;
  &:before {
    background-position: 3px -395px;
  }
}
.phone-item {
  font-weight: bold;
}
.copyright {
  background: #333333;
  padding: 90px 0;
  @include breakpoint((to: 768px)) {
    padding: 40px 0;
  }
}

.footer-menu {
  text-align: center;
  li {
    @include inline-block(top);
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    margin-right: 50px;
    &:last-child {
      margin-right: 0;
    }
    a {
      color: inherit;
      font-size: inherit;
      font-weight: inherit;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  @include breakpoint((to: 768px)) {
    li {
      display: block;
      margin-right: 0;
      margin-bottom: 20px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
.copy-text {
  display: block;
  text-align: center;
  color: #aaaaaa;
  font-size: 16px;
  margin-top: 30px;
}
